a{
    text-decoration:none !important; 
}
a:visited {
    color:purple;
    text-decoration:none !important;
}
.glyphicons-list {
    margin-top: 0;
    list-style: none;
    float: right;
    margin-right: 20px;
}



@media screen and (max-width: 450px) {
    .glyphicons-list {
        margin-top: -10px;
        margin-right: 0px;
    }
}

.glyphicons-list li {
    float: left;
    text-align: center;
    margin-right: 10px;
}

.blog-post {
    margin-bottom: 100px;
}

.blog-post p img {
    border-radius: 50%;
    border: 1px solid wheat;
    margin-left:-10px;
    margin-right:10px;
    width: 48px;
    height: 48px;
}

#information{
    position: absolute;
    top: 51px;
    right: -80px; 
    width: 200px;
    height: 200px;
    background-color: pink;
    overflow: hidden;
}
#a-information:hover .information{
   display: block;
}