a{
    text-decoration:none !important; 
}
a:visited {
    color:purple;
    text-decoration:none !important;
}
.glyphicons-list {
    margin-top: 0;
    list-style: none;
    float: right;
    margin-right: 20px;
}



@media screen and (max-width: 450px) {
    .glyphicons-list {
        margin-top: -10px;
        margin-right: 0px;
    }
}

.glyphicons-list li {
    float: left;
    text-align: center;
    margin-right: 10px;
}

.blog-post {
    margin-bottom: 100px;
}

.blog-post p img {
    border-radius: 50%;
    border: 1px solid wheat;
    margin-left:-10px;
    margin-right:10px;
    width: 48px;
    height: 48px;
}
#information{
    position: absolute;
    top: 51px;
    right: -80px; 
    width: 200px;
    height: 200px;
    background-color: pink;
    overflow: hidden;
    display: none;
}

#tou{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0px;
}
#tou span{
    position: absolute;
    top: 51px;
    right: -50px; 
    background-color: #2B2B2B;
    display: none;
}
#tou button{
    position: absolute;
    z-index: 1000;
    right: 18px;
    top: 2px;
}
@media screen and (max-width: 450px) {
    #tou button{
    display: none;
   }
}

#tou:hover span{
    display: block;
}
.information{
    text-align: center;
    width: 200px;
    height: 30px;
}
.information:hover{
    border: 1px solid #666666;
    border-left-width: 5px;
    box-shadow: 2px 2px #666666;
}
.information a{
    text-decoration: none;
    color: white;
}

